
<h1>Contact Information</h1>

<p>NAME: <%= @contact.name %> </p>


<p>NUMBERS:  </p>
<ul>
  <% @contact.numbers.each() do |number| %>
     <li><%= number.number %> <%=number.number_type %></li>
  <% end%>
</ul>
<form action="/additional_number" method="post">
  <div class="form-group">
    <label for="number">Enter a phone number:</label>
    <input id="number" name="number" class="form-control" type="text" placeholder="Phone Number">
    <input name="contact_id" type="hidden" value= <%= @contact.id %>>
  </div>
  <div class="form-group">
    <label for="number_type">Enter a phone number type:</label>
    <input id="number_type" name="number_type" class="form-control" type="text" placeholder="Work, Home, or Cell">
  </div>

  <button type="submit" class="btn btn-info">Enter Contact Information</button>
</form>

<a href="/"><button type="submit" class="btn btn-info">Return to main page</a></button>
