

<h1> Phone Book </h1>

<h3> Add a contact here: </h3>

<form action="/index" method="post">
  <div class="form-group">
    <label for="contact_name">Enter a name:</label>
    <input id="contact_name" name="contact_name" class="form-control" type="text" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="contact_number">Enter a phone number:</label>
    <input id="contact number" name="contact_number" class="form-control" type="text" placeholder="Number">
  </div>

  <button type="submit" class="btn btn-info">Enter Contact Information</button>
</form>
